@theme-main: white;
@theme-sub: rgba(@theme-main, 0.5);
@theme-bg: #152126;

body {
  background-color: @theme-bg;
}

.fourd-player-container {
  width: 100vw;
  height: 100vh;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .status-text {
      color: @theme-main;
      font-size: min(30px, 6vw);
      &.error {
        color: red;
      }
    }

    .loading-icon {
      @loading-size: max(20vw, 150px);
      @loading-stroke: min(3vw, 15px);
      width: @loading-size;
      height: @loading-size;
      border: @loading-stroke solid @theme-sub;
      border-top: @loading-stroke solid @theme-main;
      border-radius: 50%;
    }
    .loading-icon {
      transition-property: transform;
      animation-name: loading-rotate;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes loading-rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
  }

  .controller {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    pointer-events: none;

    .time-control {
      display: flex;
      align-items: center;
      gap: 2vw;
      margin: 0 5vw;

      .timestamp {
        color: @theme-main
      }
      .time-bar {
        height: 8px;
        background: @theme-sub;
        flex-grow: 1;
        border-radius: 4px;
        overflow: hidden;
        pointer-events: all;
        cursor: pointer;

        .time-bar-core {
          background: @theme-main;
          height: 100%;
          transition: width 0.1s;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 2vh;

      .controller-button {
        pointer-events: all;
        height: 48px;
        fill: white;
        cursor: pointer;

        &.disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
